prune docs
include pytonik/cmd *.env *.htaccess *.log *.txt *.py *.html *.css *.js *.png  *.PNG *.gif *.GIF *.JPEG *.jpeg  *.JPG *.jpg *.map *.svg *.SVG *.eot *.ttf *.woff *.woff2
recursive-include pytonik/cmd *.zip
recursive-include pytonik/cmd/land *.env *.htaccess *.log *.txt *.py *.html *.css *.js *.png  *.PNG *.gif *.GIF *.JPEG *.jpeg  *.JPG *.jpg *.map *.svg *.SVG *.eot *.ttf *.woff *.woff2
recursive-include pytonik/cmd/land/ *.env *.htaccess *.log *.txt *.py *.html *.css *.js *.png  *.PNG *.gif *.GIF *.JPEG *.jpeg  *.JPG *.jpg *.map *.svg *.SVG *.eot *.ttf *.woff *.woff2
recursive-include pytonik/cmd/land/public *.env *.htaccess *.log *.txt *.py *.html *.css *.js *.png  *.PNG *.gif *.GIF *.JPEG *.jpeg  *.JPG *.jpg *.map *.svg *.SVG *.eot *.ttf *.woff *.woff2
recursive-include pytonik/cmd/land/public/static *.env *.htaccess *.log *.txt *.py *.html *.css *.js *.png  *.PNG *.gif *.GIF *.JPEG *.jpeg  *.JPG *.jpg *.map *.svg *.SVG *.eot *.ttf *.woff *.woff2
recursive-include pytonik/cmd/land/public/static/css *.env *.htaccess *.log *.txt *.py *.html *.css *.js *.png  *.PNG *.gif *.GIF *.JPEG *.jpeg  *.JPG *.jpg *.map *.svg *.SVG *.eot *.ttf *.woff *.woff2
recursive-include pytonik/cmd/land/public/static/font *.env *.htaccess *.log *.txt *.py *.html *.css *.js *.png  *.PNG *.gif *.GIF *.JPEG *.jpeg  *.JPG *.jpg *.map *.svg *.SVG *.eot *.ttf *.woff *.woff2
recursive-include pytonik/cmd/land/public/static/img *.env *.htaccess *.log *.txt *.py *.html *.css *.js *.png  *.PNG *.gif *.GIF *.JPEG *.jpeg  *.JPG *.jpg *.map *.svg *.SVG *.eot *.ttf *.woff *.woff2
recursive-include pytonik/cmd/land/public/static/js *.env *.htaccess *.log *.txt *.py *.html *.css *.js *.png  *.PNG *.gif *.GIF *.JPEG *.jpeg  *.JPG *.jpg *.map *.svg *.SVG *.eot *.ttf *.woff *.woff2
recursive-include pytonik/cmd/errd *.ico *.html
